name: CI
on:
  workflow_dispatch:
  push:
    tags:
      - '*'
jobs:
  build-1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: false
          from_artifact: false
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-2:
    needs: build-1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-3:
    needs: build-2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-4:
    needs: build-3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-5:
    needs: build-4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-6:
    needs: build-5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-7:
    needs: build-6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-8:
    needs: build-7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}

  build-x86-1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: false
          from_artifact: false
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-2:
    needs: build-x86-1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-3:
    needs: build-x86-2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-4:
    needs: build-x86-3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-5:
    needs: build-x86-4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-6:
    needs: build-x86-5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-7:
    needs: build-x86-6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-x86-8:
    needs: build-x86-7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
        with:
          x86: true
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          x86: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}

  build-arm-1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: false
          from_artifact: false
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-2:
    needs: build-arm-1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-3:
    needs: build-arm-2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-4:
    needs: build-arm-3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-5:
    needs: build-arm-4
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-6:
    needs: build-arm-5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-7:
    needs: build-arm-6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}
  build-arm-8:
    needs: build-arm-7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: ./.github/actions/prepare
      - name: Run Stage
        id: stage
        uses: ./.github/actions/stage
        with:
          finished: ${{ join(needs.*.outputs.finished) }}
          from_artifact: true
          arm: true
    outputs:
      finished: ${{ steps.stage.outputs.finished }}

  publish-release:
    needs: [build-8, build-x86-8, build-arm-8]
    runs-on: ubuntu-latest
    steps:
      - name: Download package
        uses: actions/download-artifact@v7
        with:
          name: chromium
      - name: Download x86 package
        uses: actions/download-artifact@v7
        with:
          name: chromium-x86
      - name: Download arm package
        uses: actions/download-artifact@v7
        with:
          name: chromium-arm
      - name: Publish release
        id: publish
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: |
            ungoogled-chromium*
